.wrapper {
    // border: 2px solid var(--main-color);
    // margin: 6px;
    min-width: 200px;
    border-radius: 6px;
    // &::before {
    //     display: block;
    //     box-sizing: border-box;
    //     content: '';
    //     z-index: -1;
    //     height: 12px;
    //     width: 12px;
    //     position: absolute;
    //     top: -2px;
    //     right: 7%;
    //     transform: translate(10%, -20%) rotate(45deg);
    //     background-color: var(--main-color);
    //     border-left: 1px solid rgba(255, 255, 255, 0.25);
    //     border-top: 1px solid rgba(255, 255, 255, 0.25);
    //     border-radius: 4px 0px 0px;
    // }
}

.user-box {
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    padding: 10px 12px;

    font-size: 1.6rem;
    // background-color: #fff;
    border-bottom: 1px solid #333;

    .display-name {
        margin-left: 6px;
    }
}

.user-popper-btn {
    padding: 0 12px;
    text-align: justify;
    font-weight: 400;
    width: 100%;
    display: flex;
    // color: #fff;
    &:hover {
        background-color: rgba(255, 255, 255, 0.25);
        span {
            color: var(--main-color);
        }
    }
}

.logout-btn {
    border-top: 1px solid #333;
}
