.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}

.prev-button,
.next-button,
.go-button {
    display: flex;
    border: 1px solid currentColor;
    color: inherit;
    padding: 10px 15px;
    min-width: 40px;
    // background-color: var(--background-color);
    font-weight: 400;
    &:hover {
        background-color: #333;
        color: var(--main-color);
        cursor: pointer;
        border-color: var(--main-color);
    }
}

.prev-button {
    pointer-events: var(--pointer-events);
    opacity: var(--opacity);
}
.next-button {
    pointer-events: var(--pointer-events);
    opacity: var(--opacity);
}

.page-input {
    border: 1px solid currentColor;
    padding: 8px 0;
    font-size: 1.6rem;
    width: 60px;
    margin: 0 5px;
    text-align: center;
    color: inherit;
}

.current-page {
    margin: 0 5px;
    border: 1px solid currentColor;
    padding: 5.7px 10px;
}
