.wrapper {
    display: flex;
    min-height: 100%;
    justify-content: center;
}

.path {
    display: flex;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--sub-font-family);
    margin: 15px 0;
    div {
        flex: 1;
    }
    .see-more {
        font-size: 1.6rem;
        font-weight: 400;
        &:hover {
            text-decoration: underline;
            color: blue;
        }
    }
}

.container {
    width: 100%;
    position: relative;
}

.image-container {
    position: relative;
    .image {
        .img {
            width: 100%;
            height: 100%;
        }

        .action {
            pointer-events: var(--pointer-events);
            opacity: var(--opacity);
            width: 100%;
            display: flex;
            cursor: pointer;
            color: #fff;
        }
    }
}

.action-warrper {
    .action-btn {
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        color: #fff;
        width: 100%;
        height: 45px;
        text-transform: capitalize;
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 6px;

        * {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
        }
        &:hover {
            border: 2px solid var(--main-color);
            color: var(--main-color);
        }
    }
    .share-btn {
        height: 100%;
        width: 100%;
    }
}

.info {
    padding: 0 10px;
    z-index: 10;
    text-align: left;
    position: relative;

    .c-info {
        height: 450px;
        position: relative;
    }
}
.content {
    min-width: 320px;

    * {
        line-height: 1.8;
        font-size: 1.6rem;
        font-weight: 400;
    }
    .name {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: var(--sub-font-family);
        padding-top: 10px;
    }

    .origin-name {
        color: rgb(185, 154, 154);
        font-size: 1.6rem;
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
    }
}

.desc {
    display: block;
    width: 100%;
    margin-top: 20px;
    // background-color: #333;

    h3 {
        display: block;
        padding: 10px;
        background-color: #7dd3fc;
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        &:first-child {
            border-radius: 8px 8px 0 0;
        }
    }
    .desc-content {
        margin: 15px;
        text-align: justify;
        font-size: 1.6rem;
    }
    .poster {
        width: 100%;
        padding-bottom: 50%;
        position: relative; /* If you want text inside of it */
        overflow-x: hidden;
        .poster-img {
            color: inherit;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
    }
}

.share-wrapper {
    flex-wrap: wrap;
    display: flex;
    // padding: 5px;
    width: 300px;
    /* gap: 0px 0px; */
    justify-content: space-between;
}

.share-block {
    padding: 0;
    width: 33%;

    .share-item {
        border-radius: 6px;
        width: 100%;
        // height: 100%;
        padding: 10px 5px;

        &:hover {
            background-color: #000000b8;
        }
        svg {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            fill: #fff;
        }
        p {
            font-size: 1.4rem;
            color: #fff;
        }
    }
}

.tooltip-content {
    padding: 10px;
}
.tooltip-title {
    color: yellow;
}
.tooltip-text {
    margin: 10px 0;
}
.tooltip-action {
    .log-in,
    .to-profile {
        width: 100%;
        text-align: center;
        color: inherit;
        border: 1px solid currentColor;
        background-color: unset;
        &:hover {
            color: var(--main-color);
            background-color: #000000b8;
        }
    }
}
