.wrapper {
    display: flex;
    min-height: 100%;
    justify-content: center;
    // color: #fff;
}

.inner {
    // max-width: 1920px;
    width: 100%;
    position: relative;
}

.path {
    display: flex;
    // padding-top: 12px;
    padding-left: 12px;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--sub-font-family);
    margin: 15px 0;
    div {
        flex: 1;
    }
    .see-more {
        font-size: 1.6rem;
        font-weight: 400;
        &:hover {
            text-decoration: underline;
            color: blue;
        }
    }
}
