.wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #181818;
    user-select: none;
}

.inner {
    display: flex;
    flex-direction: row;
    height: 90px;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
}
