.wrapper {
    // min-height: 100%;
}

// .inner {
//     // max-width: 1800px;
// }

.children-content {
    // min-height: 300px;
    // min-width: 100%;
    // position: relative;
}

.title {
    display: flex;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--sub-font-family);
    margin: 10px 0;
    color: var(--main-color);
}

.s-container,
.l-container {
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-height: 280px;
}

.l-container {
    grid-auto-rows: auto;
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);
}

.s-container {
    grid-auto-rows: 0;
    grid-template-rows: 1fr;
    overflow-y: hidden;
    column-gap: var(--grid-gap);
}

.item {
    // background-color: var(--background-color);
    border-radius: 6px;
    flex: 1;
    isolation: isolate;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
    max-height: 100%;
    box-shadow: inset 0px 0px 0px 2px #333;
    &:hover {
        box-shadow: inset 0px 0px 0px 2px var(--main-color);
        // background-color: #333;
        color: var(--main-color);
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 3;
    }
}

.item-container {
    height: 100%;
    padding: 2px;
}

.image-container {
    position: relative;
}

.image {
    // border-radius: 6px;
    width: 100%;
    background-color: #333;
    padding-bottom: 120%;
    position: relative;
}

.thubm {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    border-radius: 6px 6px 0 0;
    // border: 3px solid #000;
    width: 100%;
}

// .play {
// }

.info {
    min-height: 50px;
}

.title {
    padding: 10px 5px;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;

    p {
        box-sizing: border-box;
        padding: 5px;
        margin-block: 0px;
        font-size: 1.6rem;
        font-weight: 700;
        padding-block-end: 4px;
        color: inherit;
        display: block;
        display: -webkit-box;
        line-height: 1.5;
        max-height: 50px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        visibility: visible;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
